<!DOCTYPE html>
<html>
<head>
  <title>PowerRanking</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui two column centered grid">
  <div class="column">
    <%= yield %>
  </div>
</div>

</body>
</html>
